<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>db_name</param-name>
        <param-value>practical_5</param-value>
    </context-param>
    <context-param>
        <param-name>tb_name</param-name>
        <param-value>student</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.StudentServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>TriangleServlet</servlet-name>
        <servlet-class>com.TriangleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>com.StudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProjectServlet</servlet-name>
        <servlet-class>com.AddProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TriangleServlet</servlet-name>
        <url-pattern>/TriangleServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/StudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProjectServlet</servlet-name>
        <url-pattern>/AddProjectServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
